!dummy
!.gitmodule
composer.phar
/vendor/
node_modules
/var/*
!/var/.gitkeep
!/var/.htaccess
/app/proxy/entity/*
!/app/proxy/entity/.gitkeep
/html/template/*
!/html/template/admin
!/html/template/default
!/html/template/install
/tests/tmp/*
/reports/*
.idea
.vscode/
*.php~
.env
.maintenance
*.neon

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> friendsofphp/php-cs-fixer ###
.php_cs
.php_cs.cache
###< friendsofphp/php-cs-fixer ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###
app/Customize
composer.json
composer.lock
/symfony.lock
/app/Customize
/app/DoctrineMigrations
/app/Plugin
/app/PluginData
/app/template
/html/.htaccess
/html/plugin
/html/upload
/html/user_data
