!dummy
!.gitmodule
composer.phar
/vendor/
node_modules
/var/*
!/var/.gitkeep
!/var/.htaccess
/app/proxy/entity/*
!/app/proxy/entity/.gitkeep
/html/template/*
!/html/template/admin
!/html/template/default
!/html/template/install
/reports/*
.idea
.vscode/
*.php~
.env
.maintenance
*.neon

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.cache
/.php-cs-fixer.*.php
###< friendsofphp/php-cs-fixer ###
/src/Eccube/Resource/template/default/Mail/*.html.twig
/app/Customize
/app/DoctrineMigrations
/app/Plugin
/app/PluginData
/app/template
.history
.tmp
